<mat-card class="movie-card">
    <mat-card-content>
        <div class="movie-image">
            <img [src]="getPostImageUrl(postInput.contenidoOriginal)" height="200px" width="100%" />
        </div>
        <h3 class="movie-title">{{postInput.titulo}}</h3>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button (click)="deletePost(postInput.id)" aria-label="Example icon button with a heart icon">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
