<mat-form-field appearance="fill">
    <mat-label>Géneros</mat-label>
    <mat-select [(ngModel)]="idGenero" name="genero" > <!-- [formControl]="generos"-->
      <mat-option *ngFor="let genero of listaGeneros" [value]="genero.id" (click)="onSubmit()">{{genero?.name}}</mat-option>
    </mat-select>
  </mat-form-field>
<button mat-button (click)="filterMovies()">Filtrar</button>
<div class="scroll-container" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px grid" fxFlexFill fxLayoutAlign="start start">
    <app-movie-item fxFlex="15" class="movie-item" *ngFor="let movie of moviesFilter" [movieInput]="movie"></app-movie-item>
</div>