
<mat-form-field appearance="fill">
    <mat-label>Elementos por página</mat-label>
    <mat-select [(ngModel)]="moviesNumberSelected" (selectionChange)="getMoviesList()">
        <mat-option value="50">50 películas</mat-option>
        <mat-option value="100">100 películas</mat-option>
        <mat-option value="200">200 películas</mat-option>
    </mat-select>
</mat-form-field>
<ul>
    <app-movies-item ngFor="let movie of movieList; let i = index" [moviesInput]="movie"></app-movies-item>
</ul>
