<div class="contenedor1">
    <mat-form-field appearance="fill">
        <mat-label>Listas</mat-label>
        <mat-select [(ngModel)]="selectedListId">
          <mat-option *ngFor="let lista of listas" [value]="lista.id">
            {{lista?.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="addGasolineraToList()" mat-dialog-close>Añadir</button>
  </div>
  <div class="contenedor2">
    <h3>Crear nueva lista: </h3>
    <mat-label for="title">Nombre</mat-label>
    <input matInput type="text" placeholder="Nombre de la lista" id="title" [(ngModel)]="listaNueva.title" name="title">    
    <br>
  <button mat-button (click)="addNewList()" type="submit">Crear</button>
  </div>

